<header
    class="container bg-transparent d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1">
    <div class="col-md-3 text-end">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#">Navbar</a>
        </nav>
    </div>

    <div class="nav col-12 col-md-6 mb-2 justify-content-center mb-md-0">
        <div class="input-group ">
            <input type="text" class="form-control" style="border-radius: 0px;" placeholder="Cari velg atau ban"
                aria-label="Cari velg atau ban" aria-describedby="button-addon2" id="search">
            <button onclick="searchProduct()" class="btn btn-warning" style="border-radius: 0px;" type="button"
                id="btn-search">Cari</button>
        </div>
    </div>

    <div class="col-md-3 bold text-end">
        Contact<br>
        0821-8498-9844
    </div>
</header>
<header class="bg-warning d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 ">
    <div class="col-md-1"></div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="index.html" class="nav-link bold px-2 text-white text-bold">HOME</a></li>
        <li><a href="product.html" class="nav-link bold px-2 link-dark">VELG</a></li>
        <li><a href="product.html" class="nav-link bold px-2 link-dark">BAN</a></li>
        <li><a href="#" class="nav-link bold px-2 link-dark">TOKO KAMI</a></li>
        <li><a href="#" class="nav-link bold px-2 link-dark">CARA BELI</a></li>
    </ul>
    <div class="col-md-1"></div>
</header>

<script>
    function searchProduct() {
        const value = document.getElementById('search').value
        fetch("../db_product/product.json")
            .then(response => {
                return response.json();
            })
            .then(data => {
                // console.log(data.product)
                const result = data.product.filter(element => element.nama.toUpperCase().includes(value.toUpperCase()))
                console.log(result)
            });
    }
    var input = document.getElementById("search");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("btn-search").click();
        }
    });
</script>