<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/mobile.css">
<header
    class="container bg-transparent d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1">
    <div class="col-md-3 text-end">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#">
                <img src="assets/images/public/Logo.png" class="img img-fluid" alt="">
            </a>
        </nav>
    </div>

    <div class="nav col-12 col-md-6 mb-2 justify-content-center mb-md-0">
        <div class="input-group ">
            <input type="text" class="form-control rounded-0"placeholder="Cari velg atau ban"
                aria-label="Cari velg atau ban" aria-describedby="button-addon2" id="search">
            <button onclick="searchProduct()" class="btn button-primary-bg" type="button"
                id="btn-search">Cari</button>
        </div>
    </div>

    <div class="col-md-3 bold text-end">
        Contact<br>
        0821-8498-9844
    </div>
</header>
<header class="primary-background d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 ">
    <div class="col-md-1"></div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="index.html" class="nav-link bold px-2 link-light text-bold">HOME</a></li>
        <li><a href="product.html?filter=velg" class="nav-link bold px-2 link-light">VELG</a></li>
        <li><a href="product.html?filter=ban" class="nav-link bold px-2 link-light">BAN</a></li>
        <!-- <li><a href="#" class="nav-link bold px-2 link-dark">TOKO KAMI</a></li>
        <li><a href="#" class="nav-link bold px-2 link-dark">CARA BELI</a></li> -->
    </ul>
    <div class="col-md-1"></div>
</header>

<script>
    function searchProduct() {
        const value = document.getElementById('search').value
        window.location.replace(`/product.html?q=${value}`);
    }
    var input = document.getElementById("search");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("btn-search").click();
        }
    });
</script>