.primary-background {
    background-color: #ff8242;
}
.primary-color {
    color: #ff8242;
}
.button-primary-bg {
    border-radius: 0px; 
    color: white; 
    background-color: #ff8242;
}

.carousel-inner .carousel-item {
    /* height: 600px; */
    background-size: cover;
    background-position: center center;
}

.button-carousel {
    color: black; 
    background-color:#ffc706;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    text-decoration: none;
    color: grey;
}